Request with OAuth Query parameters

My OAuth request works only if I use the below method in Postman (Request body/Request URL). Postman adds the OAuth parameters as query parameters. I this currently supported, i cannot find it in the code.

![image](https://user-images.githubusercontent.com/2772980/60687194-5b4fd480-9ead-11e9-8080-fd4808d7c051.png)

Thanks


I had the same issue. I ended up adding an extra function:
```static func calculateSignatureAsParamString(url: URL, method: String, parameter: [String: String], consumerCredentials cc: Credentials, userCredentials uc: Credentials?) -> String
{
    typealias Tup = (key: String, value: String)

    let tuplify: (String, String) -> Tup = {
        return (key: rfc3986encode($0), value: rfc3986encode($1))
    }
    let cmp: (Tup, Tup) -> Bool = {
        return $0.key < $1.key
    }
    let toPairString: (Tup) -> String = {
        return $0.key + "=" + $0.value
    }

    /// [RFC-5849 Section 3.1](https://tools.ietf.org/html/rfc5849#section-3.1)
    var oAuthParameters = oAuthDefaultParameters(consumerKey: cc.key, userKey: uc?.key)
        
    /// [RFC-5849 Section 3.4.1.3.1](https://tools.ietf.org/html/rfc5849#section-3.4.1.3.1)
    let signString: String = [oAuthParameters, parameter, url.queryParameters()]
        .flatMap { $0.map(tuplify) }
        .sorted(by: cmp)
        .map(toPairString)
        .joined(separator: "&")
        
    /// [RFC-5849 Section 3.4.1](https://tools.ietf.org/html/rfc5849#section-3.4.1)
    let signatureBase: String = [method, url.oAuthBaseURL(), signString]
        .map(rfc3986encode)
        .joined(separator: "&")
        
    /// [RFC-5849 Section 3.4.2](https://tools.ietf.org/html/rfc5849#section-3.4.2)
    let signingKey: String = [cc.secret, uc?.secret ?? ""]
        .map(rfc3986encode)
        .joined(separator: "&")
        
    /// [RFC-5849 Section 3.4.2](https://tools.ietf.org/html/rfc5849#section-3.4.2)
    let binarySignature = HMAC.calculate(withHash: .sha1, key: signingKey, message: signatureBase)
    oAuthParameters["oauth_signature"] = binarySignature.base64EncodedString()
        
    /// [RFC-5849 Section 3.5.1](https://tools.ietf.org/html/rfc5849#section-3.5.1)
    return oAuthParameters
        .map(tuplify)
        .sorted(by: cmp)
        .map(toPairString)
        .joined(separator: "&")
}
```

And then call it like this:

```
let paras = [String:String]()

let cc = (key: myApiKey, secret: myApiSecret)

let queryString = OhhAuth.calculateSignatureAsParamString(url: url, method: "POST", parameter: paras, consumerCredentials: cc, userCredentials: nil)

let fullURL = URL(string: url.absoluteString + "?" + queryString)
```


agree. thanks a lot.